$black: #000;
$semi-black: rgba(26, 26, 26, 1);
$white: #fff;
$grey: #888;
$red: #c80000;

$trans-red-25: rgba(200, 0, 0, 0.25);
$trans-black-25: rgba(0, 0, 0, 0.25);
$trans-white-25: rgba(255, 255, 255, 0.25);
$trans-white-50: rgba(255, 255, 255, 0.25);

$trans-black-20: rgba(0, 0, 0, 0.20);
