/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#main {
  height: 4000px;
  background: grey;
}

body {
  margin: 0 auto;
  font-family: helvetica;
  font-style: normal;
}

.newcomer {
  position: fixed;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background: black;
  color: white;
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 0em;
  text-decoration: none;
  text-align: center;
}

ul.newcomer-list {
  position: relative;
  top: 50%;
  margin: 0 auto;
  list-style: none;
  display: inline-block;
  transform: translateY(-50%);
}

.newcomer ul.newcomer-list li {
  float: left;
  margin: 0 10px;
}

ul.newcomer-submit {
  list-style: none;
  float: left;
  padding: 0;
  margin: 0;
}

.container { 
  width: 365px;
  height: 100px;
  /*position: absolute;*/
  line-height: 1.2em;
  perspective: 800px;
  transform: translateY(-10px);
}

ul#card {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform .5s ease;
}

#card li {
  margin: 0;
  display: block;
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: rgba(0, 100, 255, 1);
  border: 4px solid rgba(0, 100, 255, 1);
}

#card .front {}
#card .back { transform: rotateX( 180deg );}

.container:hover #card {
  transform: rotateX( 180deg );
}