.of-specimen {
  width: 100vw;
  min-height: 10vh;
  position: relative;
}
.of-specimen-overlay {
  position: relative;
  margin-top: 85vh;
  overflow-x: hidden;
  z-index: $zIndex-font-specimen-overlay;
}

.of-specimen-overlay.specstate-appear {
    transform: translate3d(0, 15vh, 0);
}

.of-specimen-overlay,
.of-specimen-overlay.specstate-appear-active {
    transform: translate3d(0, 0, 0);
}

.of-specimen-overlay.specstate-appear.specstate-appear-active {
  transition: transform 750ms ease-in-out 250ms;
}

.of-font-specimen-image-wrapper {
  position: relative;
  height: 0;
  width: 100%;
}

.of-font-specimen-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}

// older
.of-spec-holder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
  z-index: $zIndex-font-specimen;
}

.of-spec-wrapper {
  position: fixed;
  top: $b;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  max-height: none;
}

.of-spec-preview-cover {
    display: block;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 400;
}

.of-spec-scrollable {
  max-height: 100%;
  position: absolute;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  pointer-events: all;
  top: 0; left: 0; right: 0; bottom: 0;
}

.of-preview-wrapper {
  position: fixed;
  top: 50px;
  height: $preview-height;
  width: 100%;
  z-index: $zIndex-font-specimen-preview;
  pointer-events: none;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
}
.of-preview-wrapper.is-scrolled {
  pointer-events: none;
}

.of-font-specimen {
  position: relative;
  pointer-events: auto;
  width: 100%;
  margin-top: $preview-height;
  // transition: transform 300ms ease-in-out;

}
.of-font-specimen-spacer-bottom {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background: rgba(0,0,0,0.7);
}

.of-font-specimen-button {
  appearance: none;
  color: $black;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: $letter-spacing-xs;
  padding: 5px 8px;
  border: none;
  border: 1px solid transparent;
  border-radius: $radius-button;
  margin: 0 0 50px 0;
  cursor: pointer;
  background: $trans-white-75;
  transition: all $ease;
  user-select: none;
}

.of-font-specimen-button:hover {
  background: $trans-white-100;
}

.of-font-specimen-content.of-font-specimen-content-first {
  padding-top: 25px;
}

.of-font-specimen-content.of-font-specimen-content-last {
  padding-bottom: 75px;
}

.of-font-specimen-content.of-font-specimen-content-characterset h4 {
  line-height: 1.2em;
}

.of-font-specimen-content-characterset {
  display: block;
  @include mobile {
    display: none;
  }
}

.of-font-specimen-content {
  background: $semi-nooverlay-black;
  padding: 0 50px;

  @include mobile {
    padding: 0 20px;
  }

  h3, h4, p {
    margin: 0;
    padding: 0;
  }

  p {
    color: $white;
    font-size: 18px;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 100;
    letter-spacing: $letter-spacing-xs;
    a {
      color: $trans-white-50;
      transition: all $ease;
      &:hover {
        color: $white;
      }
    }
  }

  a h4,
  h4 a {
    color: $white;
    transition: all $ease;
    &:hover {
      color: $trans-white-50;
    }
  }

  a {
    text-decoration: none;
  }

  h3 {
    font-size: 18px;
    font-weight: 100;
    color: $trans-white-50;
    padding-bottom: 20px;
    padding-top: 90px;
    letter-spacing: $letter-spacing-xs;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include mobile {
      padding-bottom: 15px;
      padding-top: 80px;
    }
  }

  h4 {
    font-size: 100px;
    color: $white;
    font-weight: normal;
    word-break: break-all;
    // word-break: normal;
    line-height: 1.1em;
    @include mobile {
      font-size: 50px;
      word-break: break-all;
    }
  }

  ul {
    margin: 0 auto;
    margin-top: 15px;
    padding: 0;
    list-style: none;
    display: inline-block;
  }

  li.character {
    list-style: none;
    float: left;
    width: 6.26%;
    height: 10%;
    border: 1px solid $trans-white-10;
    margin-left: -1px;
    margin-top: -1px;
    padding: 5px 0;
    text-align: center;
    transform: scale(1);
    transition: transform $ease-xs;
    @include desktop-1920 {
      width: 8.333333333%;
    }
    @include desktop-1440 {
      width: 10%;
    }
    @include desktop-1280 {
      width: 11.111111111%;
    }
    @include desktop-960 {
      width: 16.666666667%;
    }
    @include mobile {
      width: 33.333333333%;
    }
    &:hover {
      position: relative;
      z-index: 10;
      border: none;
      border: 1px solid $trans-white-10;
      background-color: $semi-nooverlay-black;
      transform: scale(3);
      cursor: zoom-in;

      @include mobile {
        transform: scale(3);
      }
    }
  }
}
.social {
  font-size: 15px;
  font-weight: 200;
}
