.of-font-specimen {
  position: absolute;
  top: 0;
  left: 0;
  background: $trans-black-10;
  z-index: $zIndex-font-specimen;
  
  width: 100vw;
  
  .of-font-specimen-svg {    
    img {
      width: 100%;
      height: auto;
    }
  }
  
  .of-font-specimen-content {
    background: $semi-black;
    
    h3, h4 {
      margin: 0;
      padding: 0;
    }
    
    a {
      text-decoration: none;
    }
    
    h3 {      
      font-size: 16px;
      font-weight: 100;
      color: $grey;
      padding-bottom: 10px;
    }
    
    h4 {
      font-size: 48px;
      color: $white;
      padding-bottom: 100px;
    }
  }
}

