doctype html
html
  head
    title="Open Foundry"
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='data/fonts.css')
    link(rel='stylesheet', type='text/css', href='data/specimen.css')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    script(src='js/modernizr.js')

  body
    .of-container

  script(src='data/site.json')
  script(src='js/vendor.js')
  script(src='js/vendor/stepform.js')
  script(src='js/app.js')