.newsletter-fullscreen {

  .newsletter-wrapper {
    // top: 0;
    position: relative;
    padding: 0;
    background: white;
    height: 100vh;
    padding: 50px;
  }

  .simform {
    transform: translateY(-50%);
  }

  .menu-signup {
    height: 100vh;
  }
}

.newsletter-wrapper {
  position: relative;
  padding: 0;
  height: 50vh;

  .span.number {
    // no need to show progress for one entry
    display: none;
  }
}

.submission-wrapper {
  padding: 0 50px;
  height: calc(100vh - 50px);
  text-align: center;
  background: #fff;

  @include mobile {
    padding: 0 20px;
  }
}

.simform {
  position: relative;
  top: 50%;
  width: 100%;
  margin: 0 auto;
  font-size: 70px;
  text-align: left;
  transform: translateY(-75%);

  @include mobile {
    font-size: 18px;
  }
}

.simform .submit {
  display: none;
}

.simform ol {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  transition: height .4s;
}

.simform ol:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  border: 4px solid $trans-black-100;
  box-sizing: border-box;
}

.questions li {
  position: relative;
  height: 0;
  z-index: 100;
  visibility: hidden;
  transition: visibility 0s .4s, height 0s .4s;
}

.questions li.current,
.no-js .questions li {
  visibility: visible;
  height: auto;
  transition: none;
}

.questions li > span {
  display: block;
  overflow: hidden;
}

.questions li > span label {
  display: block;
  transform: transform .4s;
  transform: translateY(-100%);
}

.questions li.current > span label,
.no-js .questions li > span label {
  transition: none;
  transform: translateY(0);
}

.show-next .questions li.current > span label {
  animation: moveUpFromDown .4s both;
}

@keyframes moveUpFromDown {
  from {transform: translateY(100%);} to {transform: translateY(0);}
}

/* Input field */
.questions input {
  display: block;
  width: calc(100% - 100px);
  padding: 8px 15px;
  background: transparent;
  line-height: 1;
  opacity: 0;
  border: none;
  transition: opacity .3s;

  @include mobile {
    padding: 10px 10px;
    width: calc(100% - 25px);
  }
}

.questions input::-webkit-input-placeholder {
  padding: 5px 5px;

  @include mobile {
    padding: 2px 1px;
  }
}

.questions input,
.questions input::-webkit-input-placeholder {
  color: $trans-black-40;
  letter-spacing: 0em;
}

.questions .current input,
.no-js .questions input {
  opacity: 1;
}

.questions input:focus,
.simform button:focus {
  outline: none;
}

.next {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 2em;
  height: 92px;
  display: block;
  color: $trans-black-40;
  text-align: right;
  border: none;
  background: none;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  // -webkit-tap-highlight-color: $trans-black-00;
  tap-highlight-color: $trans-black-00;
  transition: all .2s ease, opacity .3s;
}

.next:hover {
  color: rgba(0,0,0,1);
}

.next::after {
  position: absolute;
  content: 'ok';
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 8px 15px 0 0;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: Helvetica, Arial, sans-serif;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  @include mobile {
    padding: 8px 10px 0 0;
  }
}

.next.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.simform .progress {
  position: absolute;
  z-index: -1;
  width: 0%;
  height: 100px;
  transition: width .2s ease-in-out;
  transform: translateY(-100%);
}

.simform .progress {
  background-image: url(../img/sky.jpg);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  background-size: auto 250px;
}

@keyframes animateLoad {
  from { background-position: 0 0; } to { background-position: 100% 0; }
}

.simform .progress {
  animation: animateLoad 8s linear infinite;
}

.simform .progress::before {
  position: absolute;
  content: '';
  top: auto;
  width: 100%;
  height: inherit;
  background: rgba(0,0,0,0);
  box-sizing: border-box;
}

.questions input:focus .simform .progress::before {
  transform: translateY(0%);
  box-sizing: border-box;
}

/* Number indicator */
.simform .number {
  position: absolute;
  width: 2em;
  right: 0;
  margin: 5px 0;
  overflow: hidden;
}

.simform .number,
.simform .error-message {
  color: $trans-black-50;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.simform .error-message {
  color: $trans-red-100;
}

.simform .number:after {
  position: absolute;
  left: 50%;
  content: '/';
  transform: translateX(-50%);
}

.simform .number span {
  float: right;
  text-align: right;
}

.simform .number .number-current {
  float: left;
}

.simform .number-next {
  position: absolute;
  left: 0;
}

.simform.show-next .number-current {
  transform: transform .2s ease;
  transform: translateY(-100%);
}

.simform.show-next .number-next {
  animation: moveUpFromDown .2s ease both;
}

/* Error and final message */
.simform .error-message,
.simform .final-message,
.simform .loader {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s ease;
}

.simform .error-message {
  width: 100%;
  padding: 5px 0;
}

.final-message {
  width: 100%;
  top: 50%;
  left: 0;
  padding: .5em;
  text-align: center;
  transform: translateY(-50%);
}

.error-message.show,
.final-message.show,
.loader.show {
  visibility: visible;
  opacity: 1;
}

.final-message.show,
.loader.show {
  transition-delay: .5s;
}

.loader::after {
  content: '';
  width: 32px;
  height: 32px;
  display: block;
  background-color: black;
  box-sizing: border-box;
  border-radius: 32px;
  animation: growUp .9s infinite;
  transition-property: all ease-out;
}

// @-webkit-keyframes growUp {
//   0%   {-webkit-transform: scale(0); opacity: 0;}
//   50%  {opacity: .4;}
//   100% {-webkit-transform: scale(1); opacity: 0;}
// }

// @-moz-keyframes growUp {
//   0%   {-moz-transform: scale(0); opacity: 0;}
//   50%  {opacity: .4;}
//   100% {-moz-transform: scale(1); opacity: 0;}
// }

// @-o-keyframes growUp {
//   0%   {-o-transform: scale(0); opacity: 0;}
//   50%  {opacity: .4;}
//   100% {-o-transform: scale(1); opacity: 0;}
// }

// @-ms-keyframes growUp {
//   0%   {-ms-transform: scale(0); opacity: 0;}
//   50%  {opacity: .4;}
//   100% {-ms-transform: scale(1); opacity: 0;}
// }

@keyframes growUp {
  0%   {transform: scale(0); opacity: 0;}
  50%  {opacity: .4;}
  100% {transform: scale(1); opacity: 0;}
}

.simform-inner.hide {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility 0s .3s;
}

/* No JS Fallback */
.no-js .simform {
  font-size: 1.75em;
}

.no-js .questions li {
  padding: 0 0 2em;
}

.no-js .simform .submit {
  float: right;
  padding: 10px 20px;
  display: block;
  color: $trans-black-25;
  background: rgba(0,0,0,0);
  border: none;
}

.no-js .simform .controls {
  display: none;
}

/* Remove IE clear cross */
input[type=text]::-ms-clear {
    display: none;
}
