body {
  font-family: 'Helvetica', 'Arial', serif;
  font-style: normal;
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

// Prevent scroll
body.noscroll {
  height: 100%;
  overflow: hidden;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:hover {
  cursor: pointer;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.of-main {
  position: absolute;
  top: 50px;
  z-index: $zIndex-main;
  width: 100%;
}