body,
input {
  font-family: 'Helvetica', 'Arial', serif;
  font-style: normal;
  margin: 0;
}

// Prevent scroll
body.noscroll {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.of-main {
  position: absolute;
  top: 50px;
  z-index: $zIndex-main;
}