body {
  font-family: 'Helvetica', 'Arial', serif;
  font-style: normal;
  margin: 0;
  background: $black;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

// Prevent scroll
body.noscroll {
  height: 100%;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// *, *:after, *:before {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a, a:hover {
  cursor: pointer;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.of-main {
  position: absolute;
  top: 50px;
  z-index: $zIndex-main;
  width: 100%;
}

header.of-navbar {
  opacity: 0;
  transform: translate3d(-10px, 0, 0);
}

.is-loaded {

  header.of-navbar {
    display: block;
    opacity: 1;
    transition: transform 120ms ease-out 750ms, opacity 120ms ease-out 750ms;
    transform: translate3d(0, 0, 0);
  }
  .of-main {
    background: #000;
    transition: transform 250ms ease-in 250ms, opacity 750ms linear 250ms;
    opacity: 1;
  }
}

// mainly for newsletter form
.nav-hidden {
  header.of-navbar {

  }
  .of-main {
    top:0;
  }
}
