$black: #000;
$semi-black: rgba(26, 26, 26, 1.00);
$semi-nooverlay-black: rgba(20, 20, 20, 1.00);
$white: #fff;
$grey: #888;
$blue: rgba(0, 100, 255, 1.00);
$red: #c80000;

$white-10:  rgb(26, 26, 26);
$white-15:  rgb(38, 38, 38);
$white-25:  rgb(64, 64, 64);
$white-50:  rgb(126, 126, 126);
$white-75:  rgb(192, 192, 192);
$white-90:  rgb(230, 230, 230);


$trans-green-10: rgba(0, 255, 0, 0.10);

$trans-red-25:  rgba(226, 38, 77, 0.25);
$trans-red-50:  rgba(226, 38, 77, 0.50);
$trans-red-100: rgba(226, 38, 77, 1.00);

$trans-black-00:  rgba(0, 0, 0, 0.00);
$trans-black-10:  rgba(0, 0, 0, 0.10);
$trans-black-20:  rgba(0, 0, 0, 0.20);
$trans-black-25:  rgba(0, 0, 0, 0.25);
$trans-black-30:  rgba(0, 0, 0, 0.30);
$trans-black-40:  rgba(0, 0, 0, 0.40);
$trans-black-50:  rgba(0, 0, 0, 0.50);
$trans-black-60:  rgba(0, 0, 0, 0.60);
$trans-black-75:  rgba(0, 0, 0, 0.75);
$trans-black-90:  rgba(0, 0, 0, 0.90);
$trans-black-100: rgba(0, 0, 0, 1.00);

$trans-grey-100: rgba(126, 126, 126, 1.00);

$trans-white-00:  rgba(255, 255, 255, 0.00);
$trans-white-10:  rgba(255, 255, 255, 0.10);
$trans-white-20:  rgba(255, 255, 255, 0.20);
$trans-white-25:  rgba(255, 255, 255, 0.25);
$trans-white-50:  rgba(255, 255, 255, 0.50);
$trans-white-60:  rgba(255, 255, 255, 0.60);
$trans-white-75:  rgba(255, 255, 255, 0.75);
$trans-white-90:  rgba(255, 255, 255, 0.90);
$trans-white-100: rgba(255, 255, 255, 1.00);