.of-font-list {
  position: relative;
  // margin-bottom: 100vh;
  background: black;
}

.of-font-list--grid {
  position: relative;
  font-size: 0;
}

.of-font-list-row {
  display: table;
  width: 100%;
  font-size: 0;
  white-space: nowrap;
}

.of-font-list-container{
  &.of-font-list--fixed {
    position: fixed;
    top: 0;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    .of-font-list {
    }
  }
}
