/* apply a natural box layout model to all elements, but allowing components to change */

header.of-navbar {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0px;
  background: black;
  transition: all $ease-m;
  z-index: $zIndex-navbar;
  transform: translateZ(0);
  backface-visiblity: hidden;
}

// header.of-navbar .up {
//   top: -50px;
// }

.menu-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: black;
}

ul.menu-header {
  white-space: nowrap;
  font-size: 0;
  box-sizing: border-box;
}

.menu-logo .open {
  display: inline-block;
  width: 54px;
  margin-right: 6px;
}
.menu-logo .foundry {
  display: inline-block;
  width: 76px;
}

.menu-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 28px;
  transform: translate(50px,11px);
  transition: all $ease-m 0s;
}

// .menu-logo.up {
//   opacity: 0;
//   transform: translate(50px,-39px);
// }

.menu-logo.up {
  opacity: .4;
}

.menu-logo.up:hover {
  opacity: 1;
}

.menu-logo a {
  display: inline-block;
}

#open rect,
#foundry rect {
  stroke: white;
  fill: none;
  stroke-width: 2px;
}

#open path,
#foundry path {
  stroke: none;
  fill: white;
}

.menu-icon {
  position: absolute;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.menu-icon a {
  position: absolute;
  width: 16px;
  height: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all $ease-m;
}

.menu-icon span,
.menu-icon span:after {
  position: absolute;
  height: 1px;
  width: 16px;
  background: white;
  display: block;
  content: '';
  transition: all .05s ease;
}

.menu-icon span {
  top: 0px;
}

.menu-icon span:after {
  top: 10px;
}

.menu-icon:hover span,
.menu-icon.active span {
  top: -2px;
}

.menu-icon:hover span:after,
.menu-icon.active span:after {
  top: 14px;
}

.menu-icon.active a {
  transform: translate(-50%, -50%) rotate(90deg);
}

ul.menu-list {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  top: 0px;
  z-index: -1;
  padding: 0 50px;
  overflow: hidden;
  background: black;
  white-space: nowrap;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50vh);
  transition: all $ease-m;
}

ul.menu-list.open {
  transform: translateY(0vh);
}

ul.menu-list a {
  color: white;
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 0em;
  text-decoration: none;
  display: inline-block;
}

ul.menu-list li {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-table;
}

ul.menu-list li a {
  color: rgba(255,255,255,0.2);
  padding: 5px 10px;
  border: 4px solid rgba(0,0,0,0);
  transition: all .05s ease;
}

ul.menu-list li a.active {
  color: white;
  border: 4px solid white;
}

ul.menu-list li:last-child svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  z-index: -1;
  fill: rgba(255,255,255,0.2);
}

ul.menu-list li a:hover,
ul.menu-list li:last-child:hover svg {
  color: white;
  fill: rgba(255,255,255,1);
}

ul.menu-signup {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  top: 0;
  z-index: -2;
  padding: 0 50px;
  overflow: hidden;
  background: black;
  transform: translateY(-50vh);
  transition: all $ease-m 0s;
}

ul.menu-signup.open {
  transform: translateY(50vh);
}

ul.menu-list.open + ul.menu-signup {
  transition: all $ease-m .2s;
}

ul.menu-signup {
  background: white;
}

header.of-navbar input {
  position: relative;
  box-sizing: border-box;
  top: 25vh;
  width: 100%;
  font-size: 70px;
  font-weight: 400;
  color: black;
  padding: 5px 10px;
  transform: translateY(-50%);
  border: 4px solid rgba(0,0,0,1);
}

header.of-navbar input:hover {
  border-color: rgba(0,0,0,1);
  cursor: pointer;
}

header.of-navbar input:focus {
  outline: none;
  border-color: rgba(0,0,0,1);
}