/* apply a natural box layout model to all elements, but allowing components to change */

header.of-navbar {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0px;
  background: black;
  transition: all $ease-m;
  z-index: $zIndex-navbar;
  transform: translateZ(0);
  backface-visiblity: hidden;
}

// header.of-navbar .up {
//   top: -50px;
// }

.menu-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: black;
  user-select: none;
}

ul.menu-header {
  white-space: nowrap;
  font-size: 0;
  box-sizing: border-box;
}

.menu-logo .open {
  display: inline-block;
  width: 54px;
  margin-right: 6px;
}
.menu-logo .foundry {
  display: inline-block;
  width: 76px;
}

.menu-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 28px;
  transform: translate(50px,11px);
  transition: all $ease-m 0s;
  z-index: $zIndex-10;
  background: $black;
  // box-shadow: 10px 0px 20px $black;
}

// .menu-logo.up {
//   opacity: 0;
//   transform: translate(50px,-39px);
// }

.menu-logo.up {
  opacity: .4;
}

.menu-logo.up:hover {
  opacity: 1;
}

.menu-logo a {
  display: inline-block;
}

#open rect,
#foundry rect {
  stroke: white;
  fill: none;
  stroke-width: 2px;
}

#open path,
#foundry path {
  stroke: none;
  fill: white;
}

.menu-icon {
  position: absolute;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.menu-icon a {
  position: absolute;
  width: 16px;
  height: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all $ease-m;
}

.menu-icon span,
.menu-icon span:after {
  position: absolute;
  height: 1px;
  width: 16px;
  background: white;
  display: block;
  content: '';
  transition: all .05s ease;
}

.menu-icon span {
  top: 0px;
}

.menu-icon span:after {
  top: 10px;
}

.menu-icon:hover span,
.menu-icon.active span {
  top: -2px;
}

.menu-icon:hover span:after,
.menu-icon.active span:after {
  top: 14px;
}

.menu-icon.active a {
  transform: translate(-50%, -50%) rotate(90deg);
}

ul.menu-list {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  top: 0px;
  z-index: -1;
  padding: 0 50px;
  overflow: hidden;
  background: black;
  white-space: nowrap;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50vh);
  transition: all $ease-m;

  @include mobile {
    padding: 0 20px;
  }
}

ul.menu-list.open {
  transform: translateY(0vh);
}

ul.menu-list a {
  color: white;
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 0em;
  text-decoration: none;
  display: inline-block;

  @include mobile {
    font-size: .95rem;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.025em;
  }
}

ul.menu-list li {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-table;
}

ul.menu-list li a {
  color: rgba(255,255,255,0.2);
  padding: 5px 10px;
  border: 4px solid $trans-black-00;
  transition: all .05s ease;

  @include mobile {
    padding: 4px 5px 5px 5px;
    border: 2px solid $trans-black-00;
  }
}

ul.menu-list li a.active {
  color: white;
  border: 4px solid $white;

  @include mobile {
    border: 2px solid $white;
  }
}

ul.menu-list li:last-child svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  z-index: -1;
  fill: rgba(255,255,255,0.2);

  @include mobile {
    display: none;
  }
}

ul.menu-list li a:hover,
ul.menu-list li:last-child:hover svg {
  color: white;
  fill: rgba(255,255,255,1);
}

ul.menu-signup {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  top: 0;
  z-index: -2;
  padding: 0 50px;
  overflow: hidden;
  background: black;
  transform: translateY(-50vh);
  transition: all $ease-m 0s;
}

ul.menu-signup.open {
  transform: translateY(50vh);
}

ul.menu-list.open + ul.menu-signup {
  transition: all $ease-m .2s;
}

ul.menu-signup {
  background: white;
}

.menu-breadcrumb {
  position: relative;
  float:left;
  top: 11px;
  left: 210px;
  margin-right: 24px;
  height: 28px;
  font-size: .95rem;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.025em;
  color: #fff;
  padding: 0px 5px;
  line-height: 1.6em;
  border: 2px solid rgba(255,255,255,1);
  transition: all .4s ease 0s;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.menu-breadcrumb:before {
  content: '/';
  display: inline-block;
  position: relative;
  width: 0px;
  left: -21px;
  transition: all .4s ease .2s;
}

.menu-breadcrumb.up:before {
  opacity: 0;
}

.menu-breadcrumb {
  opacity: 0;
}

.is-loaded {
  .menu-breadcrumb {
    opacity: 1;
    &.first-level {
      opacity: 0.4;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.menu-breadcrumb.up,
.menu-breadcrumb.first-level.up {
  transform: translate(-50%,0);
  opacity: 0;
}
