.of-font-preview-container {
  position: relative;
  
  background-color: $white;
  background-size: cover;
  background-position: 50%;  
}

.of-font-preview-container .of-font-preview-ui {
  position: absolute;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
}

.of-font-preview-container .more-button-container {
  top: 40px;
  text-align: right;
}

.of-font-preview-container .more-button {
  cursor: pointer;
} 


.of-font-preview-container .of-font-preview-text-container {
  
  font-size: 50px;
  line-height: 1.15em;
  letter-spacing: -0.025em;
  text-transform: none;
  color: $black;
  user-select: none;
  word-break: break-all;
  
  padding-top: 150px;
  padding-bottom: 160px;
  padding-left: 50px;
  padding-right: 50px;
}

.of-font-preview-container.black-image {
  
  background-color: $semi-black;
  
  .of-font-preview-text-container {
    color: $white;
  }
  .of-font-slider-handle {
    border: 1px solid $black;
    background: $white;
  }
  .of-font-slider-track, .of-font-slider-fill {
    background: $white;
  }
  .of-font-slider-label {
    background: $white;
    color: $black;
    user-select: none;
  }
  #of-font-toggle-no-image {
    stroke: $white;
  }
  .of-font-preview-footer .rank {
    color: $trans-white-25;
  }
  .of-font-preview-footer .like-button svg {
    fill: $trans-white-25;
  }
  .of-font-preview-footer .like-button:hover svg {
    fill: $red;
  }
  
}