.of-font-preview-container {
  background: white;
  border: 1px dashed chartreuse;
}

.of-font-preview-container .of-grid-container {
  position: absolute;
}

.of-font-preview-container .of-font-preview-text-container {
  
  font-size: 50px;
  line-height: 1.15em;
  letter-spacing: -0.025em;
  text-transform: none;
  background: #fff;
  color: #000;
  
  padding-top: 150px;
  padding-bottom: 160px;
}

.of-font-preview-container:nth-child(even) {
  .of-font-preview-text-container {
    background: #000;
    color: #fff;
  }
  .of-font-slider-handle {
    border: 1px solid #000;
    background: #fff;
  }
  .of-font-slider-track, .of-font-slider-fill {
    background: #fff;
  }
  .of-font-slider-label {
    background: #fff;
    color: #000;
    user-select: none;
  }
  #of-font-toggle-no-image {
    stroke: white;
  }
}