// .white-noimage .of-font-preview-footer {

//   .rank a {
//     text-decoration: none;
//     color: inherit;
//     transition: color $ease;
//   }
//   .rank a:hover {
//     color: $white;
//   }

// }

.of-font-preview-footer {
  position: absolute;
  bottom: 40px;
  padding: 0;
  width: 100%;
  font-size: 15px;
  letter-spacing: $letter-spacing-xs;
  user-select: none;

  .of-footer-inner {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
  }

  // stefan
  @include mobile {
    .of-footer-inner {
      padding: 0 10px;
    }
    .rank {
      width: 66.6666666%;
    }
  }


  .rank a {
    text-decoration: none;
    transition: color $ease;
  }
}

.of-font-preview-footer, .of-specimen-footer {
  .social {
    text-align: right;
    // padding-right: 0;
  }

  .vote-container,
  .share-container {
    display: inline-block;
    margin-left: 15px;
  }

  .like-button,
  .share-button {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    top: -8px;
    right: -3px;
    cursor: pointer;
  }

  .num-likes,
  .share-count {
    position: absolute;
    letter-spacing: $letter-spacing-m;
  }
}

@include mobile {
  .of-font-preview-footer,
  .of-specimen-footer {
    .social {
      text-align: left;
    }
  }
  .of-font-preview-footer .rank {
    overflow: hidden;
  }
  .of-font-preview-footer .rank:before {
    content: '';
    position: absolute;
    right: 0;
    height: 20px;
    width: 30px;
    pointer-events: none;
  }
  // .of-font-preview-container.black-image > .of-font-preview-footer .rank:before {
  //   background: -webkit-linear-gradient(left, $trans-black-00, $semi-black);
  //   background:    -moz-linear-gradient(right, $trans-black-00, $semi-black);
  //   background:      -o-linear-gradient(right, $trans-black-00, $semi-black);
  //   background:         linear-gradient(to right, $trans-black-00, $semi-black);
  // }
  .of-font-preview-container.white-noimage > .of-font-preview-footer .rank:before {
    background: -webkit-linear-gradient(left, $trans-white-00, $white);
    background:    -moz-linear-gradient(right, $trans-white-00, $white);
    background:      -o-linear-gradient(right, $trans-white-00, $white);
    background:         linear-gradient(to right, $trans-white-00, $white);
  }
  .of-font-preview-footer .rank div {
    white-space: nowrap;
  }
}

.of-font-preview-container .share-container button {
  appearance: none;
}
.of-font-preview-container .share-count {
  display: inline-block;
}

.like-button:hover svg {
  fill: $trans-red-100;
}

.of-font-preview-container {
  color: $trans-black-50;
}

.like-button svg {
  fill: $trans-black-50;
  transition: all $ease;
}

.of-specimen-footer .social{
  padding-top: 130px;
}

.of-font-preview-footer,
.of-specimen-footer {

  .like-button:hover svg {
    fill: $trans-black-100;
    transform: scale3d(1.25, 1.25, 1.25);
  }
  .like-button.like-button-disabled svg {
    fill: $trans-red-100;
  }
  .like-button.like-button-disabled:hover svg {
    fill: $trans-red-50;
    transform: scale3d(1, 1, 1);
  }
  .share-button svg {
    fill: $trans-black-50;
    transition: all $ease;
  }
  .share-button:hover svg {
    fill: $trans-black-100;
  }
  .share-button.share-button-disabled svg {
    fill: $trans-black-100;
  }
  .share-button.share-button-disabled:hover svg {
    fill: $trans-black-50;
  }
}

.of-font-preview-container.white-noimage {
  -webkit-font-smoothing: antialiased;

  .rank a {
    color: $trans-black-50;
  }
  .rank a:hover {
    color: $trans-black-100;
  }

}

.of-font-preview-container.black-image .of-font-preview-footer,
.of-specimen-footer {

  color: $trans-white-50;

  .rank a {
    color: $trans-white-50;
  }
  .rank a:hover {
    color: $trans-white-100;
  }

  .like-button svg {
    fill: $trans-white-50;
  }
  .like-button:hover svg {
    fill: $trans-white-100;
  }
  .like-button.like-button-disabled svg {
    fill: $trans-red-100;
  }
  .like-button.like-button-disabled:hover svg {
    fill: $trans-red-50;
  }

  .share-button svg {
    fill: $trans-white-50;
  }
  .share-button:hover svg {
    fill: $trans-white-100;
  }
  .share-button.share-button-disabled svg {
    fill: $trans-white-100;
  }
  .share-button.share-button-disabled:hover svg {
    fill: $trans-white-50;
  }
}
