.of-font-preview-footer {
  position: absolute;
  bottom: 40px;
  padding: 0;
  width: 100%;
  font-size: 15px;
  letter-spacing: $letter-spacing-xs;
  user-select: none;

  .of-footer-inner {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
  }

  @include mobile {
    .of-footer-inner {
      padding: 0 10px;
    }
    .rank {
      width: 66.6666666%;
    }
  }


  .rank a {
    text-decoration: none;
    transition: color $ease;
  }
}

.of-font-preview-footer, .of-specimen-footer {
  .social {
    text-align: right;
    padding-right: 0px;
  }
  .vote-container,
  .share-container {
    display: inline-block;
    margin-left: 15px;
  }
  .like-button,
  .share-button {
    position: relative;
    display: inline-block;
    width: 33px;
    height: 33px;
    top: -8px;
    right: -5px;
    cursor: pointer;
  }

  .num-likes,
  .share-count {
    position: absolute;
    letter-spacing: $letter-spacing-m;
  }
  .share-count {
    visibility: hidden; // until we figure out how to count shares.
  }
}

@include mobile {
  .of-font-preview-footer,
  .of-specimen-footer {
    .social {
      text-align: left;
    }
  }
  .of-font-preview-footer .rank {
    overflow: hidden;
  }
  .of-font-preview-footer .rank:before {
    content: '';
    position: absolute;
    right: 0;
    height: 20px;
    width: 30px;
    pointer-events: none;
  }
  // .of-font-preview-container.black-image > .of-font-preview-footer .rank:before {
  //   background: -webkit-linear-gradient(left, $trans-black-00, $semi-black);
  //   background:    -moz-linear-gradient(right, $trans-black-00, $semi-black);
  //   background:      -o-linear-gradient(right, $trans-black-00, $semi-black);
  //   background:         linear-gradient(to right, $trans-black-00, $semi-black);
  // }
  .of-font-preview-container.white-noimage > .of-font-preview-footer .rank:before {
    // background: -webkit-linear-gradient(left, $trans-white-00, $white);
    // background:    -moz-linear-gradient(right, $trans-white-00, $white);
    // background:      -o-linear-gradient(right, $trans-white-00, $white);
    background: linear-gradient(to right, $trans-white-00, $white);
  }
  .of-font-preview-footer .rank div {
    white-space: nowrap;
  }
}

.of-font-preview-container .share-container button {
  appearance: none;
}
.of-font-preview-container .share-count {
  display: inline-block;
  visibility: hidden;
}

// .like-button:hover svg {
//   fill: $trans-red-100;
// }

.of-font-preview-container {
  color: $trans-black-50;
}

.of-specimen-footer .social{
  padding-top: 145px;
}

.of-font-preview-footer,
.of-specimen-footer {

  .like-button svg {
    fill: $trans-black-50;
    transition: all $ease-xs;
  }
  .like-button:hover svg {
    // transform: scale3d(1.2, 1.2, 1.2);
    fill: $trans-black-100;
  }
  .like-button.like-button-disabled svg {
    fill: $trans-red-100;
  }
  .like-button.like-button-disabled:hover svg {
    fill: $trans-red-100;
    // transform: scale3d(1, 1, 1);
    cursor: default;
  }

  .like-button.like-button-disabled {
    animation-duration: .5s;
    animation-name: beating;
    animation-iteration-count: 1;
    transition: all cubic-bezier(.90,0,.10,1); 
  }

  @-webkit-keyframes beating {
     0% {
       transform: scale3d(0, 0, 0);
       fill: $trans-red-00;
     }
     33% {
       transform: scale3d(1.4, 1.4, 1.4);
       fill: $trans-red-100;
     }
     66% {
       transform: scale3d(0.9, 0.9, 0.9);
       fill: $trans-red-100;
     }
     100% {
       transform: scale3d(1, 1, 1);
       fill: $trans-red-100;
     }
  }

  .share-button svg {
    fill: $trans-black-50;
    transition: all $ease-xs;
  }
  .share-button:hover svg {
    fill: $trans-black-100;
  }
  .share-button.share-button-disabled svg {
    fill: $trans-black-100;
  }
  .share-button.share-button-disabled:hover svg {
    fill: $trans-black-100;
    cursor: default;
  }
}

.of-font-preview-container.white-noimage {
  -webkit-font-smoothing: antialiased;

  .rank a {
    color: $trans-black-50;
  }
  .rank a:hover {
    color: $trans-black-100;
  }

}

.of-font-preview-container.black-image .of-font-preview-footer,
.of-specimen-footer {

  color: $trans-white-50;

  .rank a {
    color: $trans-white-50;
  }
  .rank a:hover {
    color: $trans-white-100;
  }

  .like-button svg {
    fill: $trans-white-50;
  }
  .like-button:hover svg {
    fill: $trans-white-100;
  }
  .like-button.like-button-disabled svg {
    fill: $trans-red-100;
  }
  // .like-button.like-button-disabled:hover svg {
  //   fill: $trans-red-50;
  // }

  .share-button svg {
    fill: $trans-white-50;
  }
  .share-button:hover svg {
    fill: $trans-white-100;
  }
  .share-button.share-button-disabled svg {
    fill: $trans-white-100;
  }
  .share-button.share-button-disabled:hover svg {
    fill: $trans-white-50;
  }
}
