.not-loaded {
  visibility: hidden;
}

.of-font-preview-container {
  position: relative;
  pointer-events: auto;
  background-color: $white;
  background-size: cover;
  background-position: 50%;
  min-height: 30vh;
  &.is-fixed {
    min-height: $preview-height;
    .of-font-preview-ui {
      opacity: 1;
    }
  }
  &.black-image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $trans-black-40;
  }
  .of-font-preview-ui {
    position: absolute;
    width: 100%;
    padding: 0 50px;
    margin-top: 10px;
    box-sizing: border-box;
    z-index: $zIndex-font-ui;
    transition: opacity $ease;
    pointer-events: auto;
    user-select: none;
    @include mobile {
      margin-top: 0px;
      padding: 0 10px;
      margin-bottom: 10px;
    }
  }
  .of-font-preview-ui,
  .of-font-preview-footer {
    opacity: 0;
    @include mobile {
      opacity: 0.5;
    }
  }
  &:hover {
    opacity: 1;
    .of-font-preview-ui,
    .of-font-preview-footer {
      opacity: 1;
    }
  }
  .more-button-container {
    top: 41px;
    text-align: right;
    padding-right: 0px;
    a {
      text-decoration: none;
    }
    @include mobile {
      padding-right: 8px;
    }
    .more-button {
      padding: 5px 8px;
      font-size: 15px;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      letter-spacing: $letter-spacing-xs;
      cursor: pointer;
      color: $white;
      background: $trans-black-100;
      border: 1px solid $trans-black-00;
      border-radius: $radius-button;
      transition: all $ease;
      white-space: nowrap;
      &:hover {
        color: $trans-white-100;
        background: $trans-black-75;
        border-color: $trans-black-00;
      }
    }
  }
  .of-font-preview-text-container {
    position: relative;
    font-size: 50px;
    line-height: 1.15em;
    letter-spacing: 0em;
    text-transform: none;
    color: $black;
    // user-select: none;
    word-break: break-word;
    padding: 300px 50px 310px 50px;
    -webkit-user-modify: read-write;
       -moz-user-modify: read-write;
    @include desktop-1920 {
      padding: 200px 50px 210px 50px;
    }
    @include desktop-1440 {
      padding: 150px 50px 160px 50px;
    }
    @include mobile {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &.black-image {
    background-color: $semi-black;
    font-weight: 100;
    .more-button {
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $black;
      background: $trans-white-100;
      border-color: $trans-white-00;
      &:hover {
        color: $trans-black-100;
        background: $trans-white-75;
        border-color: $trans-white-00;
      }
    }
    .of-font-preview-text-container {
      color: $white;
    }
    .of-font-slider-handle {
      border-color: $black;
      background: $white;
    }
    .of-font-slider-track, .of-font-slider-fill {
      background: $white;
    }
    .of-font-slider-label {
      background: $white;
      color: $black;
      user-select: none;
    }
    #of-font-toggle-no-image {
      stroke: $white;
    }
  }
}

input[type=text],
textarea,
.of-font-preview-text-container {
  outline: none;
}

::selection,
-moz-::selection {
    background-color: $blue;
}

.of-font-preview-container.is-white + .of-font-preview-container.is-white {
  border-top: 1px solid $trans-black-10;
}
.of-font-preview-container.is-black + .of-font-preview-container.is-black {
  border-top: 1px solid $trans-white-10;
}