.of-font-slider {
  position: relative;

  .of-font-slider-handle {
    position: absolute;
    top: 0; left: 0;

    display: inline-block;
    width: 10px;
    height: 10px;
    background: #000;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .of-font-slider-track {
    position: absolute;
    top: 5px;
    left: 0;
    width: 200px;
    height: 1px; 
    display: inline-block;
    background: #000;
  }
}