.of-font-colour-input {
  display: inline-block;
  position: relative;
  width: 74px;
  top: 23px;
  background: transparent;
  
  input {
    font-weight: 200;
    font-size: 15px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    letter-spacing: $letter-spacing-s;
    width: 100%;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: transparent;
    color: #777;
    
    &:focus {
      outline: none;
    }
  }
}

.of-font-background-toggle-container {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  left: 10px;
  top: 35px;
  cursor: pointer;
}

#of-font-toggle-image {
  display: none;
}

.of-font-uppercase-toggle-container {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  left: 6px;
  top: 34px;
  cursor: pointer;
}