.of-font-preview-footer {
  position: absolute;
  bottom: 40px;
  
  .rank {
    font-size: 15px;
    font-weight: 200;
    color: $grey;
  }
  
  .vote-container {
    text-align: right;
    cursor: pointer;
  }
  
  .like-button {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    top: -8px;
    left: 3px;
    
    svg {
      fill: $grey;
    }
    
    :hover {
      fill: $red;
    }
  }
  
  .like-button:hover {
    svg {
      fill: $red;
    }
  }
  
  
  .num-likes {
    float: right;
  }
}