.of-font-preview-footer {
  position: absolute;
  bottom: 40px;
  padding: 0;
  width: 100%;
  
  .of-grid-container {
    padding: 0 50px;
  }
  
  .rank {
    font-size: 15px;
    font-weight: 200;
    color: $trans-black-25;
  }
  
  .vote-container {
    text-align: right;
    cursor: pointer;
  }
  
  .like-button {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    top: -8px;
    left: 3px;
    
    svg {
      fill: $trans-black-25;
    }
    
    :hover {
      fill: $trans-red-25;
    }
  }
  
  .num-likes {
    float: right;
  }
}