section {
  width: 100%;
  padding: 0 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
  z-index: 200;
  transition: opacity 0.2s ease;
  font-weight: lighter;
}

.headline {
  background: $black;
  color: $trans-white-100;
  padding: 0 50px;
  background-image: linear-gradient(90deg, $trans-white-20 1px, $trans-black-00 1px), linear-gradient(0deg, $trans-white-20 1px, $trans-black-00 1px);
  background-position: 5px 7px;
  background-repeat: repeat;
  background-size: 44px 44px;
}

section h1 {
  font-size: 80px;
  font-weight: 400;
  line-height: 1.11em;
  letter-spacing: 0em;
  letter-spacing: 0.01em;
  color: $trans-white-100;
}

.hot30-button {
  position: relative;
  top: -8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  letter-spacing: $letter-spacing-xs;
  color: $black;
  background: $trans-white-50;
  border: 1px solid $trans-black-00;
  padding: 5px 10px;
  border-radius: $radius-button;
  transition: all $ease;
  user-select: none;

  &:hover {
    color: $black;
    background: $white;
    border-color: $trans-black-00;
  }
}

section p a,
section p a:link,
strong,
h2 {
  font-weight: 400;
  // letter-spacing: -0.015em;
}

section.headline a,
section.headline a:link  {
  display: inline-block;
}


h2 {
  margin-top: 30px;
}

// section {
//   font-size: 26px;
//   font-weight: 400;
//   line-height: 1.35em;
// }

section {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.6em;
  letter-spacing: 0.025em;
}

section a,
section a:link {
  text-decoration: none;
  color: $trans-black-100;
  padding: 0;
  border-bottom: 2px solid $trans-black-00;
  transition: all 0.1s ease;
}

section p a:hover {
  text-decoration: none;
  color: inherit;
  padding: 0.1em 0;
  border-color: $trans-black-100;
}

blockquote {
  padding: 25px 0;
  margin: 0;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before,
blockquote:after {
  color: $trans-black-100;
  font-size: 1.5em;
  line-height: 0.1em;
  vertical-align: -0.25em;
}

blockquote:before {
  content: open-quote;
  margin-left: -0.6em;
  margin-right: 5px;
}

blockquote:after {
  content: close-quote;
  margin-left: 5px;
}

blockquote p {
  display: inline;
}

svg.love {
  width: 16px;
  height: auto;
}

svg.love path {
  fill: rgba(226, 38, 77, 1);
}