
section {
  width: 100%;
  padding: 0 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
  z-index: 200;
  transition: opacity 0.2s ease;
  font-weight: lighter;
}

.headline {
  background: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
  padding-bottom: 50px;
}

.text {
  padding: 25px 50px;
}

.text-quote {
  color: rgba(0,0,0,0.5);
  padding: 25px 50px 0 50px;
}

section h1 {
  font-size: 66px;
  font-weight: 600;
  line-height: 1.15em;
  letter-spacing: -0.015em;
}

section p a,
section p a:link,
p strong,
h2 {
  font-weight: 400;
}

h2 {
  font-size: 18px;
  margin-top: 50px;
}

section p {
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: 0.025em;
}

section p a,
section p a:link {
  text-decoration: none;
  color: rgba(0,0,0,1);
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,0);
  transition: all 0.1s ease;
}

section p a:hover {
  text-decoration: none;
  color: inherit;
  padding: 0.15em 0;
  border-bottom: 1px solid rgba(0,0,0,0.75);
}

blockquote {
  margin: 50px 0;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before,
blockquote:after {
  color: rgba(0,0,0,1);
  font-size: 1.5em;
  line-height: 0.1em;
  vertical-align: -0.2em;
}

blockquote:before {
  content: open-quote;
  margin-left: -0.65em;
  margin-right: 5px;
}

blockquote:after {
  content: close-quote;
  margin-left: 5px;
}

blockquote p {
  display: inline;
  font-weight: 400;
}

small {
  font-size: x-small;
  font-weight: 400;
  vertical-align: 6px;
}

hr {
  border: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}


