.slider {
  width: 100%;
  max-width: 500px;
  height: 1px;
  background: $black;
}

.black-image .slider {
  background: $white;
}

.handle {
  cursor: pointer;
  top: -23px; 
}

.handle:after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  left: -24px;
  border-radius: 50%;
  background: $black;
  transition: all 0.1s linear;
  border: 20px solid rgba(0,0,0,0);
  cursor: -webkit-grab;
}

.handle:hover:after {
  transform: scale3d(1.25,1.25,1.25);
}

.black-image .handle:after {
  background: $white;
}

.handle:after,
.black-image .handle:after {
  -webkit-background-clip: border;
     -moz-background-clip: border;
          background-clip: border-box;
  -webkit-background-clip: padding;
     -moz-background-clip: padding;
          background-clip: padding-box;
  -webkit-background-clip: content;
     -moz-background-clip: content;
          background-clip: content-box;
}

.of-font-slider-label {
  position: relative;
  top: -10px;
  left: 0;
  background: $black;
  color: $white;
  border-radius: $radius-button;
  padding: 5px 5px;
  display: inline-block;
  font-weight: lighter;
  text-align: center;
  font-size: 12px;
  letter-spacing: $letter-spacing-s;
  white-space: nowrap;
  user-select: none;
  transform: translate(-50%,10%);
  transition: opacity $ease-m, transform $ease-xs;
  opacity: 0;
}

.of-font-preview-container.black-image {
  .of-font-slider-label {
    font-weight: normal;
  }
}

.of-font-slider {
  top: 25px;
  opacity: 0.5;
  height: 50px;
}

// stefan
@include mobile {
  .of-font-slider {
    box-sizing: border-box;
  }
}

.of-font-slider:hover {
  opacity: 1;

  .of-font-slider-label {
    opacity: 1;
    transform: translate(-50%,-10%);
  }
}