.slider {
  width: 100%;
  max-width: 500px;
  height: 1px;
  background: $black;
}
.black-image .slider {
  background: $white;
}

// .handle {
//   font-size: 0.9em;
//   text-align: center;
//   background-color: black;
//   color: white;
//   cursor: pointer;
//   top: -4px;
//   width: 1px;
//   height: 1px;
//   line-height: 48px;    
// }

.handle {
  cursor: pointer;
  top: -23px; 
}

.handle:after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  left: -24px;
  border-radius: 50%;
  background: $black;
  transition: all 0.1s linear;
  border: 20px solid rgba(0,0,0,0);
  cursor: -webkit-grab;
}

.handle:hover:after {
  transform: scale3d(1.25,1.25,1.25);
}

.black-image .handle:after {
  background: $white;
}

.handle:after,
.black-image .handle:after {
  -moz-background-clip: border;     /* Firefox 3.6 */
  -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
  background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

  -moz-background-clip: content;     /* Firefox 3.6 */
  -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
  background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}

.of-font-slider-label {
  position: relative;
  display: inline-block;
  font-weight: lighter;
  transform: translateX(-50%);
  top: -10px;
  left: 0;
  font-size: 12px;
  letter-spacing: $letter-spacing-s;
  background: $black;
  color: $white;
  border-radius: $radius-button;
  padding: 5px 5px;
  text-align: center;
  opacity: 0;
  transition: opacity $ease-m;
  white-space: nowrap;
  user-select: none;
}

.of-font-preview-container.black-image {
  .of-font-slider-label {
    font-weight: normal;
  }
}

.of-font-slider {
  top: 25px;
  opacity: 0.5;
  height: 50px;
}

// stefan
@include mobile {
  .of-font-slider {
    box-sizing: border-box;
  }
}

.of-font-slider:hover {
  opacity: 1;

  .of-font-slider-label {
    opacity: 1;
  }
}