.of-font-slider {
  position: relative;
  top: 40px;
  height: 20px;
  
  .of-font-slider-handle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%,-50%);
    display: inline-block;
    width: 10px;
    height: 10px;
    background: $black;
    border-radius: $radius-50;
    cursor: pointer;
  }
  
  .of-font-slider-track, .of-font-slider-fill {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 1px; 
    display: inline-block;
    background: $black;
    cursor:pointer;
  }
  
  .of-font-slider-label {
    position: relative;
    top: -22px;
    left: 0;
    transform: translate(0%,0%);
    font-size: 12px;
    // font-weight: lighter;
    letter-spacing: $letter-spacing-xs;
    background: $black;
    color: $white;
    border-radius: $radius-button;
    padding: 5px 5px;
    text-align: center;
    opacity: 0;
    transition: opacity .4s ease;
    white-space: nowrap;
    user-select: none;
  }
  
  &:hover {
    .of-font-slider-label {
      opacity: 1;
    }
  }
}