.debug-component {

	background: #191919;

	h3 {
		color: white;
		font-size: 22px;
		line-height: 1.2em;

	}

	a {
		color: inherit;
		opacity: 0.5;
	}

	div {
		display: block;
		margin-bottom: 50px;
		width: 600px;
		line-height: 1.5em;
		padding: 25px;
	}

	color: white;
	// font-family: monospace;
}
